
.curtain-wrapper{
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-text);

    & .curtain-title{
        position: absolute;
        width: 100%;
        z-index: 2;
        text-align: center;
        user-select: none;
        height: unset;

        display: flex;
        flex-direction: column;
        row-gap: 8px;

        & p:nth-child(1){
            font-weight: 600;
            font-size: 1.625rem;
        }

        & p:nth-child(2){
            font-style: italic;
            font-size: 1.025rem;
        }
    }

    & .curtain-bg{
        z-index: 1;
        filter: blur(6px);
        position: relative;
        animation: rotate-animation 10s linear infinite;
        overflow: hidden;
    }
    & .curtain-bg-inner{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50vw;
        transform: translate(-50%,-50%);
    }
}

@keyframes rotate-animation{
    0%{
        transform: rotate(0deg) scale(1);
    }
    50%{
        transform: rotate(180deg) scale(0.5);
    }
    100%{
        transform: rotate(360deg) scale(1);
    }
}

.main-content{
    margin: 0 auto;

    & .blog-list-wrapper{
        position: relative;
        overflow-y: hidden;
    }

    & .blog-list-wrapper .blog-list{
        display: flex;
        flex-direction: column;
        gap: 48px 24px;
        color: var(--color-text);
    }

    & .blog-list-wrapper .blog-list .blog-item {
        padding: 12px 6px;
        border-radius: 12px;

        & > *{
            padding: 8px 0px;
        }

        & .blog-item-title{
            font-weight: 600;
            font-size: 1.25rem;
        }

        & .blog-msg-opt{
            display: flex;
            justify-content: space-between;

            & .blog-item-author{
                font-weight: 500;
                font-size: .905rem;
            }
            & .blog-item-date{
                font-weight: 300;
                font-size: 0.825rem;
            }
            & p{
                font-size: 0.885rem;
            }
        }

        & .blog-item-desciption{
            font-weight: 400;
            font-size: 0.775rem;
            line-height: 1.125rem;
        }

        & .blog-item-action {
            display: flex;
            align-items: center;
            column-gap: 12px;
            & button{
                border: none;
                outline: none;
                background-color: white;
                background-color: var(--color-btn);
                padding: 6px 14px;
                border-radius: 6px;
                font-weight: 600;
                font-size: 1.025rem;
                color: var(--color-text);

                &:hover{
                    cursor: pointer;
                    box-shadow: var(--color-btn) 0px 1px 6px, var(--color-btn) 0px 0px 0px 3px;
                }
            }

        }
    }
}

@media screen and (min-width:762px) and (max-width:999px){
    .curtain-wrapper,.main-content{
        width: 82vw;
    }
}
@media screen and (min-width:999px) and (max-width:1312px){
    .curtain-wrapper{
        width: 64vw;
    }
    .main-content{
        width: 82vw;
    }
}
@media screen and (min-width:1312px){
    .curtain-wrapper {
        width: 48vw;
        & .curtain-bg-inner{
            width: 25vw;
        }
    }
    .main-content {
        width: 56vw;
    }
}
