.main-wrapper{
    padding: 48px 4px;
    margin: 0 auto;

    & *{
        transition:all .3s ease-in-out;
    }

    & .page-title{
        color: var(--color-text);
        font-size: 1.425rem;
        padding: 4% 8px;
    }
    & .categories-wrapper{
        padding: 0 4%;
        display:grid;
        grid-template-columns:repeat(2,1fr);
    }
    & .categories-wrapper .categories-list{
        padding: 0 8%;
        & .categories-title{
            font-size: 0.825rem;
            font-weight: 600;
            padding: 14px 0;
            color: var(--color-text);

            & span{
                padding: 0 8px;
            }
        }

        & .categories-item {
            padding: 4px 18% 12% 18%;
            font-size: 0.785rem;
            font-weight: 300;
            line-height: 1.05rem;
        }
        & .categories-item .categorie-item{
            color: var(--color-text);

            &:hover{
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}
@media screen and (min-width:526px) and (max-width:762px){
    .main-wrapper{
        width: 96vw;
        & .categories-wrapper{
            grid-template-columns:repeat(2,1fr);
        }
    }
}
@media screen and (min-width:762px) and (max-width:999px){
    .main-wrapper{
        width: 82vw;
        & .categories-wrapper{
            grid-template-columns:repeat(3,1fr);
        }
    }
}
@media screen and (min-width:999px) and (max-width:1312px){
    .main-wrapper{
        width: 64vw;
        padding: 64px 4px;
        & .categories-wrapper{
            grid-template-columns:repeat(3,1fr);
        }
    }
}
@media screen and (min-width:1312px){
    .main-wrapper{
        padding: 96px 4px;
        width: 52vw;
        & .page-title{
            font-size: 1.425rem;
            padding: 0% 8px;
        }
        & .categories-wrapper{
            grid-template-columns:repeat(4,1fr);
        }
    }
}
