.menu-icon-wrapper{
    width: 36px;
    height: 36px;
    padding: 4px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    cursor: pointer;
    box-shadow: 2px 0px 15px 9px rgba(0,0,0,0.1);

}

.menu-icon-item-wrapper{
    width: 80%;
    height: 4px;
    border: 2px solid;
    border-radius: 24px;
}

.menu-icon-item-wrapper:nth-child(even){
    width: 18px;
    height: 4px;
    border: 2px solid;
    border-radius: 36px;
}
