.main-wrapper{
    padding: 12px 6px;
    margin: 0 auto;
    & *{
        transition: all .3s ease-in-out;
    }
    & .page-title{
        color: var(--color-text);
        font-size: 1.425rem;
        padding: 4% 8px;
    }

    & .about-me, & .about-blog, & .about-you{
        padding: 4% 8px;
    }
    & .about-me{
        & .about-title{
            color: var(--color-text);
            border-left: 2px solid var(--color-text);
            padding: 4px 4%;
        }
        & .about-content{
            padding: 8% 0 2% 0;
            color: var(--color-text);
            font-size: 0.825rem;
            white-space:nowrap;
        }
    }
    & .about-blog{
        & .about-title{
            color: var(--color-text);
            border-left: 2px solid var(--color-modal);
            padding: 4px 4%;
        }
        & .about-content{
            padding: 8% 0 2% 0;
            color: var(--color-text);
            font-size: 0.825rem;
            white-space:nowrap;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
    & .about-you{
        & .about-title{
            color: var(--color-text);
            border-left: 2px solid var(--color-btn);
            padding: 4px 4%;
        }
        & .about-content{
            padding: 8% 0 2% 0;
            color: var(--color-text);
            font-size: 0.825rem;
            white-space:nowrap;
        }
    }
}


@media screen and (min-width:762px){
    .main-wrapper{
        width: 82vw;
        & .about-me, & .about-blog, & .about-you{
            padding: 2% 8px;
            & .about-content{
                padding: 4% 0 4% 0;
            }
        }
    }
}
@media screen and (min-width:999px) and (max-width:1312px){
    .main-wrapper{
        width: 82vw;
        & .about-me, & .about-blog, & .about-you{
            padding: 0 8px;
            & .about-content{
                padding: 4% 0 4% 0;
            }
        }
    }
}
@media screen and (min-width:1312px){
    .main-wrapper{
        width: 42vw;
        & .about-me, & .about-blog, & .about-you{
            padding: 0 8px;
            & .about-content{
                padding: 4% 0 4% 0;
            }
        }
    }
}
