.main-wrapper{
    padding: 12px 6px;
    margin: 0 auto;

    & *{
        transition: all .3s ease-in-out;
    }
    & .page-title{
        color: var(--color-text);
        font-size: 1.425rem;
        padding: 4% 8px;
    }
    & .tags-wrapper{
        padding: 0 4%;
        &  .tags-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        &  .tags-list .tags-item{
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 12px;
            margin: 8px 12px;
            border-radius: 18px;
            font-size: 0.875rem;
            box-shadow: 2px 0px 15px 4px rgba(0,0,0,0.1);

            & .tag-name{
                margin: 0 8px;
                color: var(--color-text);
            }

            & .tag-number{
                font-size: 0.675rem;
                color: var(--color-text);
                opacity: 0.5;
            }

            &:hover{
                cursor: pointer;
            }
        }
    }
}

@media screen and (min-width:762px){
    .main-wrapper{
        width: 82vw;
        & .tags-wrapper{
            &  .tags-list .tags-item{
                margin: 14px 12px;
            }
        }
    }
}
@media screen and (min-width:999px) and (max-width:1312px){
    .main-wrapper{
        width: 82vw;
        & .tags-wrapper{
            &  .tags-list .tags-item{
                margin: 20px 12px;
            }
        }
    }
}
@media screen and (min-width:1312px){
    .main-wrapper{
        width: 58vw;
        & .tags-wrapper{
            &  .tags-list .tags-item{
                margin: 28px 12px;
            }
        }
    }
}
